# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Coverage output
*.out

# Go workspace file
go.work

# Dependency directories
# Uncomment if you commit vendor
# vendor/

### C Bindings ###

# Go c-shared output (generated header)
libgspl.h

# CMake build dirs
cmake-build-*/
